Intent Schema

{
  "intents": [
    {
      "intent": "GetLunchIntent",
      "slots": [
        {
          "name": "Date",
          "type": "AMAZON.DATE"
        }
      ]
    },
    {
      "intent": "GetLunchWeekIntent"
    }
  ]
}

Sample Utterances

GetLunchIntent what's for lunch
GetLunchIntent what's for lunch {Date}
GetLunchIntent what's for lunch for {Date}
GetLunchIntent what's for lunch on {Date}
GetLunchIntent what is for lunch
GetLunchIntent what is for lunch {Date}
GetLunchIntent what is for lunch for {Date}
GetLunchIntent what is for lunch on {Date}
GetLunchIntent for lunch
GetLunchIntent for lunch {Date}
GetLunchIntent for lunch for {Date}
GetLunchIntent for lunch on {Date}
GetLunchWeekIntent for the lunch menu this week